:host {
  .abj-anchor {
    display: inline-block;
    margin-right: 12px;

    &.is-tab {
      padding: 0;
      box-sizing: border-box;
      margin-right: 0;
      border: 1px solid black;

      &:hover {
        background-color: #555555;
        color: white;
        cursor: pointer;
      }

      a {
        display: block;
        padding: 12px;

        p {
          margin: 0;

          &:not(.wrap) {
            white-space: nowrap;
          }
        }
      }
    }

    &:not(.on-light) {
      &.is-tab {
        border: 1px solid white;

        &:hover {
          background-color: #555555;
          cursor: pointer;
        }
      }
    }
  }
}