:host {
  width: 100%;
  box-sizing: border-box;

  .classic-customizations-conditions.page {
    width: 100%;
    box-sizing: border-box;

    .conditions-wrapper {
      width: 100%;
      box-sizing: border-box;

      .condition-wrapper {
        background-color: rgba(255, 255, 255, .7);
        padding: 12px;
        position: relative;

        &:hover {
          border: 0.5px solid gray;
          box-sizing: border-box;
        }

        &:nth-child(odd) {
          background-color: rgba(255, 255, 255, .9);
        }
      }
    }

    @media only screen and (max-width: 529px) {
      padding: 12px;
    }
  }
}