<div class="classic-customizations-conditions page">
  <abj-strategy-selector
    [title]="title"
    [activeTitle]="activeStrategy.title"
    [activeStrategy$]="activeStrategy$"
    [defaultTitles]="classicConditionTitles"
    [defaultConfig]="defaultStrategy"
    [includedStrategies]="includedStrategies"
    [configurationType]="localStorageItemsEnum.CONDITIONS"
    [variation]="localStorageVariationKeys.CLASSIC"
  ></abj-strategy-selector>
@for(group of featureGroupConditions; track group) {
  <abj-content-accordion
    [expanded]="$index === 0"
    [title]="featureGroupNamesText[$index]"
  >
    <div class="conditions-wrapper standard">
    @for(condition of group.checkBox; track condition) {
      <div class="condition-wrapper checkbox">
        <abj-checkbox
          [condition]="condition"
          [checked]="condition.value"
          [checkboxId]="'chk'+$index"
          (action)="handleCheckAction($event, condition.key)"
        ></abj-checkbox>
      </div>
    }
    @for(condition of group.numberInput; track condition) {
      <div class="condition-wrapper">
        <abj-number-input
          [condition]="condition"
          [value]="condition.value"
          placeHolder="placeHolder"
          [inputId]="'nmbr'+$index"
          (changeEvent)="handleNumberInputAction($event, condition.key)"
        ></abj-number-input>
      </div>
    }
    @for(condition of group.radioGroup; track condition) {
      <div class="condition-wrapper">
        <abj-radio-group
          [condition]="condition"
          [group]="condition.radioGroup"
          [value]="condition.value"
          [radioGroupId]="'radioGrp'+$index"
          (changeEvent)="handleRadioGroupAction($event, condition.key)"
        ></abj-radio-group>
      </div>
    }
    </div>
  </abj-content-accordion>
}
</div>