<div class="classic-simulation-results page">

<!-- <div class="bankroll-chart-container">
  <button (click)="showBankrollChart$.next(false)" class="return-x">
    <span class="material-symbols-outlined">close</span>
  </button> -->
  <div class="content">
    <div class="row row-wrapper flex">
      <div class="select-wrapper">
        <select (change)="handleSelectHandle($event)">
        @for(handle of handles; track handle) {
          <option 
            [value]="handle" 
            [selected]="handle === activeHandle"
          >
            {{handle}}
          </option>
        }  
        </select>
        <button class="back-button" (click)="navigate('classic/simulation-results-dashboard')">Back</button>
      </div>
      <div class="header-wrapper flex-column">
        @if(!isZoomMode) {
        <p>Click here to <button class="zoom-in" (click)="setZoomMode()">Zoom In</button></p>
        <p>Click any blue point to see that hands details.</p>
        }
        @if(zoomIndices.length === 0 && isZoomMode) {
        <span>Click the zoom start point on the blue line.</span>
        }
        @if(zoomIndices.length === 1) {
        <span>Click the zoom end point on the blue line.</span>
        }
      </div>
    </div>
    <div class="canvas-wrapper">
      <canvas id="myChart" (click)="onCanvasClick($event)"></canvas>
    </div>

  @if(playerResults) {
    <div class="summary">
      <p>
        <span>Starting Bankroll: </span>
        <span>{{ playerResults[activeHandle].startingBankroll }}</span>
      </p>
      <p>
        <span>Ending Bankroll: </span>
        <span>{{ playerResults[activeHandle].finalBankroll }}</span>
      </p>
      <p>
        <span>Money Bet: </span>
        <span>{{ playerResults[activeHandle].totalMoneyBet }}</span>
      </p>
      <p>
        <span>Money Won: </span>
        <span>{{ playerResults[activeHandle].totalWon }}</span>
      </p>
      <p>
        <span>Win Rate (ROI): </span>
        <span>{{ playerResults[activeHandle].roi }}%</span>
      </p>
      <p>
        <span>Tipped Away: </span>
        <span>{{ playerResults[activeHandle].tippedAway }}</span>
      </p>
    </div>
  }
  </div>
</div>