:host {
  .abj-header {
    min-height: 125px;
    background-color: black;
    color: white;
    padding: 12px 16px 16px;
    text-align: center;
    justify-content: space-between;

    .header-text {
      margin: 0 auto;
      justify-content: space-around;

      h1 {
        margin: 0;
        text-align: center;
        display: inline;

        @media only screen and (max-width: 399px) {
          font-size: 30px;
        }
      }

      p {
        margin-top: 2px;
      }
    }
  }
}