<div class="abj-header flex-column">
  <div class="header-text flex">
    <h1>{{title}}</h1>
  <!-- @if(currentVariation !== storedVariation && showSetDefaultButton && !(headerFooterService.isFooterPage$ | async)) {
    <div class="button-wrapper">
      <abj-button 
        (action)="setDefaultVariation()"
        text="Make this my landing Page"
        [primary]="true"
        [onLightBackground]="false"
      ></abj-button>
    </div>
  } -->
      <p><i>{{tagLine}}</i></p>
  </div>
  <div class="nav-wrapper">
  @for(link of urlLinks; track link.url) {
    <abj-anchor
      [text]="link.title"
      [responsiveText]="link.responsiveTitle"
      [isTab]="true"
      [onLightBackground]="false"
      (action)="handleVariationSelection(link.url)"
      [linkUrl]="link.url"
    ></abj-anchor>
  }
  </div>
</div>