<div class="hand-review page">
@let records = (records$ | async);
@if(activeRecord$ | async; as record) {
  <div class="content">
    <div class="button-wrapper flex">
    @if(activeRecordIndex > 0) {
      <button (click)="decActiveRecordIndex()">Previous</button>
    }
    <p class="cards-remaining"><b>{{ record?.unseenCardsAtBeginningOfShoe }}</b> cards remaining at the start of the round</p>
    @if(records.length - activeRecordIndex > 1) {
      <button (click)="incActiveRecordIndex()">Next</button>
    }
    </div>
    <div class="dealer-wrapper">
      <div class="cards-wrapper flex">
      @for(card of record?.dealer.cards; track card.id) {
        <div class="card-image-wrapper dealer-card">
          <img [src]="card.image" alt="card.name">
        </div>
      }
      </div>
    </div>
    <div class="spots-wrapper flex">
    @for(spot of record.spots; track spot.spotId) {
      <div class="spot flex-column">
        <div class="hands-wrapper flex">
        @for(hand of spot.hands; track $index) {
          <div class="hand flex-column">
            <div class="cards-wrapper flex-column">
            @for(card of hand.cards; track card.id) {
              <div class="card-image-wrapper">
                <img [src]="card.image" alt="card.name">
              </div>
            }
            </div>
            <div class="hand-details flex-column">
              <p class="detail"><span>BET: </span>
                <span>{{ hand.betSize }}</span>
                <span> / </span>
                <span>{{ hand.totalBetAmountThisHand }}</span></p>
              <div class="detail">
              @if(hand.actions.length > 0) {
                <p class="underline">Actions:</p>
              }
              @for(action of hand.actions; track $index) {
                <p><span> - </span><span>{{action}}</span></p>
              }
              </div>
              <div class="detail flex-column"><span class="underline">RESULT</span><span>{{ hand.outcome }}</span></div>
            @if(hand.winnings > 0) {
              <p class="detail"><span>WON: </span><span>{{ hand.winnings }}</span></p>
            } 
            @if(hand.winnings < 0) {
              <p class="detail"><span>LOST: </span><span>{{ -(hand.winnings) }}</span></p>
            } 
            </div>
          </div>
        }
        </div>
        <div class="player-details flex-column">
          <p class="details">{{ record.players[$index].handle }}</p>
          <p class="details">
            <span>Starting Bankroll: </span>
            {{ record.players[$index].beginningBankroll }}
          </p>
          <p class="details">
            <span>Beginning Running Count: </span>
            {{ record.players[$index].beginningRunningCount }}
          </p>
        </div>
      </div>
    }
    </div>

    <div class="hand-input-wrapper flex">
      <label for="">ENTER A HAND ID</label>
      <div class="input-wrapper">
        <input type="number" (change)="jumpToHand($event, records.length)">
      </div>
    @if(handInOutOfRange$ | async) {
      <span>Out of range</span>
    }
    </div>
  </div>
}
</div>