:host {
  .hand-review {

    .content {
      width: 100%;

      .dealer-wrapper {
        width: 100%;
        border-bottom: 1px solid black;

        .cards-wrapper {
          justify-content: center;
          overflow-x: scroll;

          .card-image-wrapper {
            max-width: 100px;
            min-width: 58px;

            img {
              width: 100%;
              box-sizing: border-box;
              border: 2px solid black;
              border-radius: 9px;
            }
          }

          @media only screen and (max-width: 499px) {
            justify-content: start;
          }
        }
      }

      .button-wrapper {
        justify-content: space-between;
        margin: 8px 0;

        button {
          padding: 8px;
          background-color: black;
          color: white;
          font-size: 18px;
          border-radius: 3px;
        }

        .cards-remaining {
          margin: 0 6px;
          text-align: center;
        }
      }

      .spots-wrapper {
        margin-top: 4px;
        width: 100%;
        flex-wrap: nowrap;
        justify-content: start;
        overflow: scroll;
        flex-direction: row-reverse;

        .spot {
          flex-wrap: nowrap;
          width: 100%;
          min-width: 120px;
          border-left: 1px solid black;
          justify-content: space-between;

          &:last-child {
            border: none;
          }

          .hands-wrapper {
            height: 100%;
            overflow-x: scroll;

            .hand {
              width: 100%;
              align-items: center;
              min-width: 60px;
              justify-content: space-between;

              .cards-wrapper {
                justify-content: space-between;

                .card-image-wrapper {
                  max-width: 100px;

                  img {
                    width: 90%;
                    box-sizing: border-box;
                    border: 2px solid black;
                    border-radius: 9px;
                  }

                  &:nth-child(even) img {
                    margin-left: 12%;
                  }

                  &:nth-child(odd) {
                    margin-right: 12%;
                  }

                  &:not(:first-child) img {
                    margin-top: -90%;
                  }
                }
              }

              .hand-details {
                align-items: center;
                margin-top: 12px;

                p {
                  margin: 0;
                }

                .detail {
                  padding: 2px 4px;
                  border-radius: 3px;
                  text-align: center;

                  .underline {
                    text-decoration: underline;
                  }

                  &:nth-child(odd) {
                    background-color: rgba(255, 255, 255, .6);
                  }
                }
              }

              &:nth-child(even) {
                background-color: rgba(255, 255, 255, .3);
              }
            }
          }

          .player-details {
            padding-top: 8px;
            border-top: 1px solid black;
            margin-top: 8px;
            text-align: center;
            box-sizing: border-box;

            .details {
              margin: 0 6px;
              padding: 2px 4px;
              border-radius: 3px;
              text-align: center;
              box-sizing: border-box;

              &:nth-child(odd) {
                background-color: rgba(255, 255, 255, .6);
              }
            }
          }
        }
      }
    }
  }
}