:host {
  .classic-simulation {

    h2 {
      text-align: center;
      margin: 0 0 12px 0;
    }

    .seclection-wrapper {
      width: 100%;
      max-width: 570px;
      box-sizing: border-box;
      justify-content: space-between;

      .iteration-wrapper, .table-name-wrapper {
        width: 260px;

        label {
          font-size: 18px;
        }

        ::ng-deep .select-dropdown-wrapper {

          label {
            font-size: 18px;
          }

          select {
            width: 100%;
          }
        }
      }

      .iteration-wrapper {
        width: 120px;
      }

      button {
        color: white;
        background-color: black;
        font-size: 24px;
        padding: 12px 16px;
        border-radius: 3px;
        margin: 6px 0;

        &:hover {
          cursor: pointer;
          color: black;
          background-color: white;
          border: 1px solid black;
        }
      }

      @media only screen and (max-width: 499px) {
        width: 100%;
        box-sizing: border-box;
        justify-content: space-between;
        flex-wrap: wrap;

        .table-name-wrapper {
          width: 100%;
          margin-bottom: 6px;

          ::ng-deep .select-dropdown-wrapper {
            max-width: 100%;
            padding-right: 0;

            select {
              max-width: 100%;
            }
          }
        }

        .iteration-wrapper, button {
          width: 45%;
        }

        button {
          margin: 12px 0 6px 16px;
        }
      }
    }

    .stubbed-table-wrapper {
      width: 100%;
      margin: 16px 0 0 0;
      border-radius: 3px;
      padding: 12px;
      background-color: #585858;
      color: white;

      .rules-header {
        justify-content: center;
        margin: 6px 0;
        padding-bottom: 6px;

        &.bottom {
          border-top: 1px solid black;
          padding-top: 8px;
          padding-bottom: 0;
        }

        .rule {
          font-size: 22px;
          white-space: nowrap;
          padding: 0 12px;
          border-right: 2px solid black;

          &:last-child {
            border: none;
          }

          @media only screen and (max-width: 549px) {
            padding: 0 8px;
            font-size: 18px;
          }

          @media only screen and (max-width: 449px) {
            font-size: 14px;
          }
        }
      }

      .stubbed-players.flex {
        flex-direction: row-reverse;
        justify-content: space-between;
        flex-wrap: nowrap;
        background-color: white;
        color: black;
        overflow: scroll;

        .info-summary {
          padding: 8px 4px 4px;
          width: 50%;
          min-width: 90px;
          justify-content: space-between;
          text-align: center;

          &:nth-child(odd) {
            background-color: #D3D3D3;
          }

          .start {
            justify-content: flex-start;

            .player-info {
              font-size: 18px;
              margin: 0;
              display: inline-block;
              padding: 4px 0;

              &:nth-child(odd) {
                border-radius: 3px;
                background-color: #696969;
                color: white;
              }
            }
          }

          .seat-number {
            margin: 12px 0 2px;
          }

          &.empty {
            justify-content: flex-end;
            min-width: 50px;

            .start {
              display: none;
            }
          }
        }
      }
    }
  }
}