:host {
  .abj-feature-intro {
    background-color: white;
    margin-bottom: 32px;

    .image-header-wrapper {
      display: flex;
      height: 408px;

      &.odd {
        flex-direction: row-reverse;
      }

      .image-wrapper {
        width: 50%;
        min-width: 408px;
        height: 408px;

        img {
          width: 100%;
          height: 408px;
        }
      }

      .column-content-wrapper {
          width: 50%;
          height: 408px;
          padding: 12px;
          box-sizing: border-box;
          justify-content: space-between;

        p {
          margin: 8px 0 0;
        }

        .column-content {
          box-sizing: border-box;
          overflow: scroll;

          h3 {
            margin: 0 0 6px;
          }

          .tag-line {
            margin: 0;
            font-size: 14px;
            text-align: center;
          }
          
          .text-content-wrapper {

            .text-point {
              justify-content: flex-start;

              .point-wrapper {
                margin: auto;
                margin-right: 8px;
                margin-left: 0;

                .point {
                  padding: 4px;
                  background-color: black;
                  border-radius:4px;
                }

                span {
                  background-color: black;
                }
              }
            }
          }
        }

        .button-wrapper {
          margin-top: 6px;
        }
      }

      @media only screen and (max-width: 679px) {
        height: 300px;

        .image-wrapper {
          width: 50%;
          min-width: 300px;
          height: 300px;

          img {
            width: 100%;
            min-width: 300px;
            height: 300px;
          }
        }

        .column-content-wrapper {
          height: 300px;
          padding: 8px;
        }
      }

      @media only screen and (max-width: 545px) {
        height: fit-content;
        flex-direction: column;

        &.odd {
          flex-direction: column;
        }

        .image-wrapper {
          width: 100%;
          min-width: 300px;
          height: 300px;

          img {
            height: 300px;
          }
        }

        .column-content-wrapper {
          width: 100%;
          height: fit-content;
          padding: 8px;
        }
      }
    }
  }
}