:host {
  .classic-thinking {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;


    .outer-spinner {
      background-color: white;
      border-radius: 50%;
      width: 300px;
      height: 300px;
      border-top: 30px solid black;
      border-bottom: 30px solid black;
      box-sizing: border-box;
      animation: spin 1.5s linear infinite;
    }

    @keyframes spin {
      0% {
        transform: rotate(0deg); /* Start at 0 degrees rotation */
      }
      100% {
        transform: rotate(360deg); /* End at 360 degrees rotation */
      }
    }
  }
}