:host {
  width: 100%;

  .play-chart-update {
    box-sizing: border-box;
    background-color: white;
    position: fixed;
    width: calc(100% - 24px);
    margin: 12px;
    border-radius: 3px;
    top: 0;
    left: 0;
    padding: 12px;
    border: 1px solid black;
    display: none;
    z-index: 1;
    box-shadow: 12px 8px 8px rgba(111, 111, 111, .3);

    &.show {
      display: flex;
    }
  }

  .deviation-finder-chart-wrapper {
    overflow: scroll;
    margin: 0;
    background-color: gray;
    color: white;
    max-width: none;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    border-radius: 3px;

    .f2c-instructions {
      border-bottom: 1px solid black;
      background-color: rgba(0, 0, 0, .05);
      padding-top: 6px;

      p {
        text-align: center;
        color: black;
        margin: 0 0 8px;
      }

      .f2cs-wrapper {
        justify-content: center;
        margin-bottom: 4px;
        flex-wrap: wrap;

        button {
          padding: 6px;
          background-color: black;
          color: white;
          border-radius: 3px;
          margin-right: 4px;
          font-size: 18px;
          line-height: 18px;
          box-sizing: border-box;
          border: 1px solid black;
          margin-top: 6px;

          &:first-child {
            margin-left: 4px;
          }

          &.selected {
            border: 1px solid black;
            background-color: white;
            color: black;
          }

          &:hover {
            border: 1px solid white;
            background-color: white;
            color: black;
          }

          @media only screen and (max-width: 425px) {
            font-size: 16px;
            line-height: 16px;
            padding: 4px;
          }

          @media only screen and (max-width: 360px) {
            font-size: 15px;
            line-height: 15px;
          }

          @media only screen and (max-width: 590px) {
            &.hard {
              font-size: 16px;
              line-height: 16px;
              padding: 4px;
            }
          }

          @media only screen and (max-width: 493px) {
            &.hard {
              font-size: 15px;
              line-height: 15px;
            }
          }
        }
      }
    }

    .count-range {
      background-color: black;
      padding: 12px;

      p {
        text-align: center;
        margin: 0 0 4px;
        font-size: 18px;
      }

      .ranges-wrapper {
        justify-content: space-around;

        .input-wrapper {

          input {
            padding: 6px 4px 6px 12px;
            font-size: 18px;
            text-align: center;
            border: none;
            width: 120px;
            box-sizing: border-box;
            border-radius: 3px;
          }
        }
      }
    }

    .all-charts {

      .chart-options {
        box-sizing: border-box;
        padding: 8px;
        width: 100%;
        justify-content: space-between;

        button {
          box-sizing: border-box;
          border-radius: 3px;
          padding: 6px 4px;
          background-color: black;
          color: white;
          margin-right: 3px;

          &:last-child {
            margin-right: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          &:hover {
            border: 1px solid black;
            background-color: white;
            color: black;
          }
        }
      }

      @media only screen and (max-width: 524px) {
        .chart-options button {
          font-size: 12px;
          width: unset;
          padding: 4px 2px;
        }
      }

      .chart-content {
        width: 100%;
        border-bottom: 1px solid black;
        background-color: rgba(0, 0, 0, .2);
        padding-top: 12px;

        &:nth-child(odd) {
          background-color: rgba(0, 0, 0, .1);
        }

        .instruction-wrapper {
          width: 100%;
          justify-content: space-between;
          box-sizing: border-box;
          padding: 0 12px;

          p {
            color: black;
            margin: 0;
            text-align: center;
          }

          button {
            box-sizing: border-box;
            border-radius: 3px;
            padding: 6px 4px;
            background-color: black;
            color: white;
            margin-left: 8px;

            &:hover {
              border: 1px solid black;
              background-color: white;
              color: black;
            }
          }

          @media only screen and (max-width: 470px) {
            flex-direction: column;
            justify-content: center;

            button {
              margin-top: 8px;
              width: 100%;
              margin-left: 0;
            }
          }
        }
        
        .canvas-wrapper {
          width: 100%;
          margin-top: 4px;
          background-color: transparent;
          border-radius: 4px;
          box-sizing: border-box;
          padding: 12px;
          overflow: hidden;

          canvas.canvas {
            background-color: white;
            min-width: 300px;
          }
        }
      }
    }
  }
}