<div class="abj-hourly-win-rate">
  <div class="content">
    <span class="flex">
      <p>At </p>
      <div class="input-wrapper">
        <input
          type="number"
          [(ngModel)]="roundsPerHour"
          (change)="updateWinRateByBettingUnit()"
        >
      </div>
      <p>rounds per hour.</p>
    </span>
    <div class="row-wrapper flex-column">
    @for(key of enhancedPlayersWinRate[activeHandle].chartKeys; track key) {
      <span class="alternate">
        With a betting unit of <b>{{ key }}</b>, the hourly rate was <b>{{ enhancedPlayersWinRate[activeHandle].winRateByBettingUnit[key].average }}</b> for <b>{{ enhancedPlayersWinRate[activeHandle].winRateByBettingUnit[key].hoursPlayed }}</b> hours.
      </span> 
    }
    </div>
  </div>
</div>