<div class="classic-custom-deviation-chart page">
  <h2>Create Custom Deviation Charts</h2>
  <p class="tagline"><i>Go where no man has gone before.</i></p>
  <abj-content-accordion
    #explanationAccordion
    title="How does this work?"
    [expanded]="isExplanationsExpanded"
  >
    <div class="accordion-content instructions flex-column">
      <h3>Here's what goes on behind the curtain.</h3>
      <p class="statement">Good news. There's a button down at the bottom of all this with a video tutorial.</p>
      <p class="statement">You want to make a play chart from scratch, and to do this you want to study each of the possible first 2 player cards from the left side of a basic strategy chart one by one. Let's call these forst 2 cards the the P2C, the players 2 cards.
      </p>
      <p class="statement">If you want to study 16, you dont care if that 16 is made from a 10 and a 6 or a 7 and a 9, but you do car idf that 16 is from and 8 and an 8, thats a different value on the basic strategy chart, a different P2C.
      </p>
      <p class="statement">Now, imagine a blackjack table where you tell dealer the P2C and the dealer ignores the hands of any player that don't have those cards and redeals if no one has the cards. The cards are all discards normally, just no one played.
      </p>
      <p class="statement">Its the P2C we are studying, not a particular dealers card. We will play hands out with the correct P2C againt any dealers up card.</p>
      <p class="statement">The dealer redeals from the same shoe and the true count changes from hand to hand. When a player with the correct P2C does play, the player remember what the true count was when the hand was played, which may be different from when the hand was dealt.</p>
      <p class="statement">There are just 3 or 4 players at the table, depending on if the P2C is splittable or not. One player always hits, one always stays one always doubles and the fourth will always split or not play the hand at all.
      </p>
      <p class="statement">Along with the true count at the time the hand is played, the player also keeps track of what the dealer's upcard was for the hand. Each player records the amount of money won against each upcard at each true count as well as how many times the upcard and true count were played.
      </p>
      <p class="statement">You are doing great.</p>
      <p class="statement">The player who hits has to make decisions after the P2C. This player doesn't always hit after the first card, only the first card, for the rest of the hand, the player plays according to the very chart you are creating.
      </p>
      <h3>Which leads us to what you need to do on this side of the curtain.</h3>
      <p class="statement"><i>"...the player plays according to the very chart you are creating."</i>Huh?</p>
      <p class="statement">Don't freak out. As long as you start with the biggest P2C, your player will always have enough of the chart filled out to play out the hand.
      </p>
      <p class="statement">Huh?</p>
      <p class="statement">For example, when you are studying a 16, the player may hit and get an ace. As long as you have already completed the chart for 17s, you will have the chart data the player needs to play out the hand no matter what rando cards may come.
      </p> 
      <p class="statement">By the way, if you are thinking you dont have to figure out what to do with the palyers 17 because every body knows to stay, you are missing the point. Don't take anything for granted. If the player stays on 17, it should be because you have proven that the best statistical decision for a 17 against what ever card it to stay.
      </p>
      <p class="statement">The player who splits will also have to make decisions beyond the P2C. A pair of nines can turn into a hand with a 12, this means to know what to do with pairs, all the non pair PSCs must be studied first.
      </p>
      <p class="statement">Soft hands can turn into hard hands, so it is important to do the hard hands first, but not all of them.
      </p>
      <p class="statement">Hard hands can also turn into soft hands, so you need to go back and forth.</p>
      <p class="statement">Don't freak out. It's going to all work out, but let's talk through it. You can solve the hard hands all the way down to 10 without having to worry about a hard hand becoming a soft hand, (we will worry about a soft 21 near the end as it turns out).</p>
      <p class="statement">Now hitting a hard 9 can turn into a soft 20 (with 3 cards, so its not even doubleable). So before studying a hard 9, you will need to have studied a soft 20 before it. Right before it actually because that sodt 20 can turn into a hard 12, som the hard 12 needed to be studied first.</p>
      <p class="statement">A split hand can turn into a soft hand, but not the other way around, do its OK to do the splittable hands after all the hard and soft hands.</p>
      <p class="statement">How many simulations should you run on each?</p>
      <p class="statement">That can vary. If you are looking for the best choice on a 20 against any dealers upcard at any reasonable count. You can get some reliable data with a million hands. That includes rounds hands that were ignored because there was no playable P2C.</p>
      <p class="statement">But if you are looking for the best way to play A3 against any dealers up card at any count, you will probably need a bigger data set, maybe 10 million hands, maybe more.
      </p>
      <p class="statement">The computer won't lock up like it does in a simulation with too many iterations, but it will take time. Run it for 50 million and go get some coffee.</p>
      <p class="statement">Good news! If you run a simulation and you realize you didn't get a big enough sample size, running the simulation again will <i>add</i> to your existing results, not over write them.
      </p>
      <p class="statement">How will I know if I have run enough siulations?</p>
      <!-- TODO - add picture here. -->
      <p class="statement">The charts will make a smooth picture when the numbers average out in the right spot.</p>
      <p class="statement">Some table conditions make a huge different and some don't matter at all. In the <i>Set Up</i> section the relevant conditions are configurable</p>
      <p class="statement">If you run a simulation with a configuration and then make a slight change to the configuration, the data will be recorded, but in a completely different set. Those 2 data sets are mutually exclusive, in fact, if one data set is played against the chart for the other data set, then that data set should probably just be deleted.
      </p>
      <p class="statement">What about the chart where we record our strategies?</p>
      <p class="statement">Before you even begin, make a chart is the simulation section. That chart should be a copy od the included chart called "Deviations". Name the new chart whatever you want, you will reference it in the <i>Set up</i> section. As you complete a P2C study, make the changes to that row of the chart and save it. The page to make a new chart is right  <a href="/classic/table">here</a>.
      </p>
      <p class="statement">If you are still reading you must be dedicated, that's the real key to any skill set.</p>
      <p class="statement">Caveat: The P2C you want to start with is 20, but 20 is different that a pair of tens, that's a different P2C. Same problem with A9.
      </p>
      <p class="statement">A P2C of 20 doesn't really exist, because aside from a pair of 10s and a soft 20, the only kind of 20 you will ever see will have 3 or more cards, and we cant get to the 3rd card unless we play the first 2.
      </p>
      <p class="statement">Instead of make an exception to handle this in the programming code, its fine to just pass in a pair of tens (TT) and ignore the results for splitting. You can ignore the results for doubling to as this will only ever happen on 3 cards.
      </p>
      <p class="statement">But what about an actual pair of tens, how is that handled?</p>
      <p class="statement">Before you run simulations for splitting 10s, you will need to know how to play the hand if on that split hand if you recieve an Ace, should you stay or double. So, first lets run some simulations on when and if we should ever split 10s.
      </p>
      <p class="statement"> We have a problem now that a soft 21 can only exist if first 10s are split. This is a chicken and the egg problem, and, to fix this, the dealer is going to handle <i>any</i> AT as a soft 11.
      </p>
      <p class="statement">Now, after you have studied every P2C, run simulations against TT.</p>
      <p class="statement">You're chart is done at this point, but wouldn't it be cool if you could find the correct deviation for the Bonus or Weird Rules you see in the conditions customizer.</p>
      <p class="statement">Yes it would, but <i>at this time</i> this hasn't been coded and its not a priority as these rules are so rare, but it is on my radar.</p>
      
      <div class="button-wrapper">
        <abj-button
          text="Watch and Learn"
          [fullWidth]="true"
          (action)="openModal(explanationUrlKey)"
        ></abj-button>
      </div>
    </div>
  </abj-content-accordion>
  <abj-content-accordion
    #setupAccordion
    title="Set it up?"
    [expanded]="isSetupExpanded"
  >
    <div class="accordion-content setup flex-column">
      <!-- AC: 1 - A select dropdown component is present with a list of all play charts in local storage that have a deviation configuration name associated with it. The deviation configuration name also comes from local storage.
        A - if no configuration exists then the select is hidden
        B - Selecting a chart will:
          a: hide the select and the "Enter a New Chart Name" Input
          b: fetch the chart from local storage 
          c: fetch the configuration associated with that chart from local storage
          d: unhide and display the populated configuration UI - the field values are baked into the name of the configuration
          e: another dropdown will appear (and have focus). The dropdown will contain all the P2C options. This is the same dropdown as AC: 2Cb

      AC: 2 - An Input labelled "Enter a New Chart Name" is present next to the select (if the select is present). If the user clicks the button:
        A - The button and the select dropdown dissappear
        B - Behind the curtain a copy of the Hard Coded Deviation chart is created and given the name entered by the player.
        C - an unpopulated configuration UI appears.
          a: as the fields are entered, the name of the configuration is created
          b: when all the field names are full, the P2C dropdown appears. This is the same dropdown as AC: 1Be 

      AC: 3 - Selecting a value from the P2C dropdown will:
        A - save the configuration name (only if selected from the AC: 2 flow)
        B - start the simulation -->
      
      <div class="input-row flex">
      @if(chartNames.length !== 0) {
        <div class="select-wrapper">
          <abj-select 
            (selectedEvent)="selectChart($event)"
            [options]="chartNames"
            [selectValue]="'Select a Play Strategy Chart'"
            [label]="'Select the Chart You Are Creating'"
          >
          </abj-select>
        </div>
        <p class="conjunction">OR</p>
      }
        <div class="input-wrapper">
          <abj-text-input
            label="Enter a New Chart Name"
            (onChangeEvent)="handleChartName($event)"
            theme="dark"
          ></abj-text-input>
        </div>
      </div>

      <div class="required-config flex">
        <div class="left flex-column">
          <div class="decks-wrapper condition-input-wrapper input-wrapper flex">
            <label for="">Number of Decks</label>
            <input type="number" [(ngModel)]="decks" (change)="handleDecks()" [disabled]="disabled">
          </div>
          <div class="input-wrapper two-conditions flex">
            <!-- this is gonna be just flex -->
            <div class="holeCardRules-wrapper condition-input-wrapper input-wrapper flex-column">
              <label for="">Hole Card</label>
              <div class="response-wrapper flex-column">
                <div class="radio-wrapper flex">
                  <label for="">Standard</label>
                  <input
                    type="radio"
                    (change)="handleHoleCardRules('standard')"
                    [checked]="holeCardRules === 'standard'"
                    [disabled]="disabled"
                  >
                </div>
                <div class="radio-wrapper flex">
                  <label for="">OBO</label>
                  <input
                    type="radio"
                    (change)="handleHoleCardRules('nhcLosesOriginalBetOnly')"
                    [checked]="holeCardRules === 'nhcLosesOriginalBetOnly'"
                    [disabled]="disabled"
                  >
                </div>
                <div class="radio-wrapper flex">
                  <label for="">ENHC</label>
                  <input
                    type="radio"
                    (change)="handleHoleCardRules('enhcLosesEntireBet')"
                    [checked]="holeCardRules === 'enhcLosesEntireBet'"
                    [disabled]="disabled"
                  >
                </div>
              </div>
            </div>

            <div class="counting-method-wrapper condition-input-wrapper input-wrapper flex">
              <div class="select-wrapper"></div>

              <abj-select 
                (selectedEvent)="handleCountingMethod($event)"
                [options]="countingMethods"
                [selectValue]="'Counting Methods'"
                [label]="'Select a Counting Method'"
              >
              </abj-select>
            </div>

          </div>
          <div class="surrender-wrapper condition-input-wrapper">
          @for(sType of surrenderTypes; track sType) {
            <div class="input-wrapper flex">
              <label for="">{{surrenderTypesLabelMap[sType]}}</label>
              <input
                type="radio"
                (change)="handleSurrender(sType)"
                [checked]="sType === surrender"
                [disabled]="disabled"
              >
            </div>
          }
          </div>
          <button class="more-config-button" (click)="setShowBonusConfig()">Include Bonuses</button>
        </div>
        <div class="right flex-column">
          <div class="condition-input-wrapper mhfs-wrapper input-wrapper flex">
            <label for="">MHFS</label>
            <input type="number" [(ngModel)]="mhfs" (change)="handleMhfs()" [disabled]="disabled">
          </div>
          <div class="rsa-wrapper condition-input-wrapper input-wrapper flex">
            <label for="">RSA</label>
            <div class="response-wrapper flex">
              <div class="radio-wrapper flex">
                <label for="">Yes</label>
                <input type="radio" (change)="handleRsa(true)" [checked]="rsa" [disabled]="disabled">
              </div>
              <div class="radio-wrapper flex">
                <label for="">NO</label>
                <input type="radio" (change)="handleRsa(false)" [checked]="rsa === false" [disabled]="disabled">
              </div>
            </div>
          </div>
          <div class="das-wrapper condition-input-wrapper input-wrapper flex">
            <label for="">DAS</label>
            <div class="response-wrapper flex">
              <div class="radio-wrapper flex">
                <label for="">Yes</label>
                <input type="radio" (change)="handleDas(true)" [checked]="das" [disabled]="disabled">
              </div>
              <div class="radio-wrapper flex">
                <label for="">NO</label>
                <input type="radio" (change)="handleDas(false)" [checked]="das === false" [disabled]="disabled">
              </div>
            </div>
          </div>
          <div class="x17-wrapper condition-input-wrapper input-wrapper flex">
            <div class="flex">
              <label for="">SI7</label>
              <input
                type="radio"
                (change)="handleX17('s17')"
                [checked]="x17 === 's17'" 
                [disabled]="disabled"
              >
            </div>
            <div class="flex">
              <label for="">HI7</label>
              <input
                type="radio"
                (change)="handleX17('h17')"
                [checked]="x17 === 'h17'"
                [disabled]="disabled"
              >
            </div>
          </div>
          <div class="double-on-wrapper condition-input-wrapper">
          @for(dType of doubleTypes; track dType) {
            <div class="input-wrapper flex">
              <label for="">{{doubleTypesLabelMap[dType]}}</label>
              <input
                type="radio"
                (change)="handleDoubleOn(dType)"
                [checked]="dType === doubleOn"
                [disabled]="disabled"
              >
            </div>
          }
          </div>
          <button class="more-config-button" (click)="setShowWeirdRulesConfig()">Include Weird Rules</button>
        </div>
      </div>
      <div class="optional-configs flex">
      @if(showBonusConfig) {
        <div class="bonuses-rules-config" [class.with-weird-rules]="showWeirdRulesConfig">

          <div class="bonuses-config">
            <div class="c678-wrapper condition-input-wrapper input-wrapper flex">
              <label for="">6 7 8 Bonus</label>
              <div class="response-wrapper flex">
                <div class="radio-wrapper flex">
                  <label for="">Yes</label>
                  <input type="radio" (change)="handleC678(true)" [checked]="c678" [disabled]="disabled">
                </div>
                <div class="radio-wrapper flex">
                  <label for="">NO</label>
                  <input type="radio" (change)="handleC678(false)" [checked]="c678 === false" [disabled]="disabled">
                </div>
              </div>
            </div>
            <div class="c678-payout-wrapper condition-input-wrapper input-wrapper flex">
              <p>6 7 8 Bonus Payout</p>
              <div class="payout-ratios-wrapper flex">
              @for(ratio of payoutRatios; track ratio) {
                <div class="ratio-wrapper flex-column">
                  <label for="">{{ payoutRatiosLabelMap[ratio] }}</label>
                  <input
                    type="radio"
                    (change)="handleC678Payout(ratio)"
                    [checked]="c678 && c678Payout === ratio"
                    [disabled]="disabled"
                  >
                </div>
              }
              </div>
            </div>
          </div>
          <div class="bonuses-config">
            <div class="s678-wrapper condition-input-wrapper input-wrapper flex">
              <p>Suited 6 7 8 Bonus</p>
              <div class="response-wrapper flex">
                <div class="radio-wrapper flex">
                  <label for="">Yes</label>
                  <input type="radio" (change)="handleS678(true)" [checked]="s678" [disabled]="disabled">
                </div>
                <div class="radio-wrapper flex">
                  <label for="">NO</label>
                  <input type="radio" (change)="handleS678(false)" [checked]="s678 === false" [disabled]="disabled">
                </div>
              </div>
            </div>
            <div class="c678-payout-wrapper condition-input-wrapper input-wrapper flex">
              <p>Suited 6 7 8 Bonus Payout</p>
              <div class="payout-ratios-wrapper flex">
            @for(ratio of payoutRatios; track ratio) {
              <div class="ratio-wrapper flex-column">
                <label for="">{{ payoutRatiosLabelMap[ratio] }}</label>
                <input
                  type="radio"
                  (change)="handleS678Payout(ratio)"
                  [checked]="s678 && s678Payout === ratio"
                  [disabled]="disabled"
                >
              </div>
            }
              </div>
            </div>
          </div>
          <div class="bonuses-config">
            <div class="c777-wrapper condition-input-wrapper input-wrapper flex">
              <p>7 7 7 Bonus</p>
              <div class="response-wrapper flex">
                <div class="radio-wrapper flex">
                  <label for="">Yes</label>
                  <input type="radio" (change)="handleC777(true)" [checked]="c777" [disabled]="disabled">
                </div>
                <div class="radio-wrapper flex">
                  <label for="">NO</label>
                  <input type="radio" (change)="handleC777(false)" [checked]="c777 === false" [disabled]="disabled">
                </div>
              </div>
            </div>
            <div class="c777-payout-wrapper condition-input-wrapper input-wrapper flex">
              <p>7 7 7 Bonus Payout</p>
              <div class="payout-ratios-wrapper flex">
            @for(ratio of payoutRatios; track ratio) {
              <div class="ratio-wrapper flex-column">
                <label for="">{{ payoutRatiosLabelMap[ratio] }}</label>
                <input
                  type="radio"
                  (change)="handleC777Payout(ratio)"
                  [checked]="c777 && c777Payout === ratio"
                  [disabled]="disabled"
                >
              </div>
            }
              </div>
            </div>
          </div>
          <div class="bonuses-config">
            <div class="s777-wrapper condition-input-wrapper input-wrapper flex">
              <p>Suited 7 7 7 Bonus</p>
              <div class="response-wrapper flex">
                <div class="radio-wrapper flex">
                  <label for="">Yes</label>
                  <input type="radio" (change)="handleS777(true)" [checked]="s777" [disabled]="disabled">
                </div>
                <div class="radio-wrapper flex">
                  <label for="">NO</label>
                  <input type="radio" (change)="handleS777(false)" [checked]="s777 === false" [disabled]="disabled">
                </div>
              </div>
            </div>
            <div class="s777-payout-wrapper condition-input-wrapper input-wrapper flex">
              <p>Suited 7 7 7 Bonus Payout</p>
              <div class="payout-ratios-wrapper flex">
            @for(ratio of payoutRatios; track ratio) {
              <div class="ratio-wrapper flex-column">
                <label for="">{{ payoutRatiosLabelMap[ratio] }}</label>
                <input
                  type="radio"
                  (change)="handleS777Payout(ratio)"
                  [checked]="s777 && s777Payout === ratio"
                  [disabled]="disabled"
                >
              </div>
            }
              </div>
            </div>
          </div>
          <div class="bonuses-config">
            <div class="charlie-wrapper condition-input-wrapper input-wrapper flex">
              <p>Charlie Bonus</p>
              <div class="response-wrapper flex">
                <div class="radio-wrapper flex">
                  <label for="">5</label>
                  <input type="radio" (change)="handleCharlie('5')" [checked]="charlie === '5'" [disabled]="disabled">
                </div>
                <div class="radio-wrapper flex">
                  <label for="">6</label>
                  <input type="radio" (change)="handleCharlie('6')" [checked]="charlie === '6'" [disabled]="disabled">
                </div>
                <div class="radio-wrapper flex">
                  <label for="">7</label>
                  <input type="radio" (change)="handleCharlie('7')" [checked]="charlie === '7'" [disabled]="disabled">
                </div>
                <div class="radio-wrapper flex">
                  <label for="">None</label>
                  <input type="radio" (change)="handleCharlie('none')" [checked]="charlie === 'none'" [disabled]="disabled">
                </div>
              </div>
            </div>
            <div class="charlie-payout-wrapper condition-input-wrapper input-wrapper flex">
              <p>Charlie Bonus Payout</p>
              <div class="payout-ratios-wrapper flex">
            @for(ratio of payoutRatios; track ratio) {
              <div class="ratio-wrapper flex-column">
                <label for="">{{ payoutRatiosLabelMap[ratio] }}</label>
                <input
                  type="radio"
                  (change)="handleCharliePayout(ratio)"
                  [checked]="charlie && charliePayout === ratio"
                  [disabled]="disabled"
                >
              </div>
            }
              </div>
            </div>
          </div>
        </div>
      }
      @if(showWeirdRulesConfig) {
        <div class="weird-rules-config"  [class.with-bonus-config]="showBonusConfig">
          <div class="double-split-aces-wrapper condition-input-wrapper input-wrapper flex">
            <label for="">Allow Doubling on Split Aces</label>
            <div class="response-wrapper flex">
              <div class="radio-wrapper flex">
                <label for="">Yes</label>
                <input
                  type="radio"
                  (change)="handleDoubleSplitAces(true)"
                  [checked]="doubleSplitAces"
                  [disabled]="disabled"
                >
              </div>
              <div class="radio-wrapper flex">
                <label for="">NO</label>
                <input
                  type="radio"
                  (change)="handleDoubleSplitAces(false)"
                  [checked]="doubleSplitAces === false"
                  [disabled]="disabled"
                >
              </div>
            </div>
          </div>
          <div class="draw-on-split-aces-wrapper condition-input-wrapper input-wrapper flex">
            <label for="">Allow Hitting Split Aces</label>
            <div class="response-wrapper flex">
              <div class="radio-wrapper flex">
                <label for="">Yes</label>
                <input
                  type="radio"
                  (change)="handleDrawOnSplitAces(true)"
                  [checked]="drawOnSplitAces"
                  [disabled]="disabled"
                >
              </div>
              <div class="radio-wrapper flex">
                <label for="">NO</label>
                <input
                  type="radio"
                  (change)="handleDrawOnSplitAces(false)"
                  [checked]="drawOnSplitAces === false"
                  [disabled]="disabled"
                >
              </div>
            </div>
          </div>
          <div class="triple-down-on-3-cards-wrapper condition-input-wrapper input-wrapper flex">
            <label for="">Triple Down On 3 Cards</label>
            <div class="response-wrapper flex">
              <div class="radio-wrapper flex">
                <label for="">Yes</label>
                <input
                  type="radio"
                  (change)="handleTripleDownOn3Cards(true)"
                  [checked]="tripleDownOn3Cards"
                  [disabled]="disabled"
                >
              </div>
              <div class="radio-wrapper flex">
                <label for="">NO</label>
                <input
                  type="radio"
                  (change)="handleTripleDownOn3Cards(false)"
                  [checked]="tripleDownOn3Cards === false"
                  [disabled]="disabled"
                >
              </div>
            </div>
          </div>
          <div class="triple-down-on-any-amount-of-cards-wrapper condition-input-wrapper input-wrapper flex">
            <label for="">Triple Down On Any Amount of Cards</label>
            <div class="response-wrapper flex">
              <div class="radio-wrapper flex">
                <label for="">Yes</label>
                <input
                  type="radio"
                  (change)="handleTripleDownOnAnyAmountOfCards(true)"
                  [checked]="tripleDownOnAnyAmountOfCards"
                  [disabled]="disabled"
                >
              </div>
              <div class="radio-wrapper flex">
                <label for="">NO</label>
                <input
                  type="radio"
                  (change)="handleTripleDownOnAnyAmountOfCards(false)"
                  [checked]="tripleDownOnAnyAmountOfCards === false"
                  [disabled]="disabled"
                >
              </div>
            </div>
          </div>
          <div class="surrender-after-doubling-wrapper condition-input-wrapper input-wrapper flex">
            <label for="">Surrender After Doubling</label>
            <div class="response-wrapper flex">
              <div class="radio-wrapper flex">
                <label for="">Yes</label>
                <input
                  type="radio"
                  (change)="handleSurrenderAfterDoubling(true)"
                  [checked]="surrenderAfterDoubling"
                  [disabled]="disabled"
                >
              </div>
              <div class="radio-wrapper flex">
                <label for="">NO</label>
                <input
                  type="radio"
                  (change)="handleSurrenderAfterDoubling(false)"
                  [checked]="surrenderAfterDoubling === false"
                  [disabled]="disabled"
                >
              </div>
            </div>
          </div>
          <div class="surrender-whenever-wrapper condition-input-wrapper input-wrapper flex">
            <label for="">Surrender At Any Time</label>
            <div class="response-wrapper flex">
              <div class="radio-wrapper flex">
                <label for="">Yes</label>
                <input
                  type="radio"
                  (change)="handleSurrenderWhenever(true)"
                  [checked]="surrenderWhenever"
                  [disabled]="disabled"
                >
              </div>
              <div class="radio-wrapper flex">
                <label for="">NO</label>
                <input
                  type="radio"
                  (change)="handleSurrenderWhenever(false)"
                  [checked]="surrenderWhenever === false"
                  [disabled]="disabled"
                >
              </div>
            </div>
          </div>
          <div class="double-on-3-card-9-to-11-wrapper condition-input-wrapper input-wrapper flex">
            <label for="">Double on 3 card 9 - 11</label>
            <div class="response-wrapper flex">
              <div class="radio-wrapper flex">
                <label for="">Yes</label>
                <input
                  type="radio"
                  (change)="handleDoubleOn3Card9to11(true)"
                  [checked]="doubleOn3Card9to11"
                  [disabled]="disabled"
                >
              </div>
              <div class="radio-wrapper flex">
                <label for="">NO</label>
                <input
                  type="radio"
                  (change)="handleDoubleOn3Card9to11(false)"
                  [checked]="doubleOn3Card9to11 === false"
                  [disabled]="disabled"
                >
              </div>
            </div>
          </div>
          <div class="double-on-3-cards-wrapper condition-input-wrapper input-wrapper flex">
            <label for="">Double Any 3 Cards</label>
            <div class="response-wrapper flex">
              <div class="radio-wrapper flex">
                <label for="">Yes</label>
                <input
                  type="radio"
                  (change)="handleDoubleOn3Cards(true)"
                  [checked]="doubleOn3Cards"
                  [disabled]="disabled"
                >
              </div>
              <div class="radio-wrapper flex">
                <label for="">NO</label>
                <input
                  type="radio"
                  (change)="handleDoubleOn3Cards(false)"
                  [checked]="doubleOn3Cards === false"
                  [disabled]="disabled"
                >
              </div>
            </div>
          </div>
          <div class="double-on-any-amount-of-cards-wrapper condition-input-wrapper input-wrapper flex">
            <label for="">Double on Any Amount of Cards</label>
            <div class="response-wrapper flex">
              <div class="radio-wrapper flex">
                <label for="">Yes</label>
                <input
                  type="radio"
                  (change)="handleDoubleOnAnyAmountOfCards(true)"
                  [checked]="doubleOnAnyAmountOfCards"
                  [disabled]="disabled"
                >
              </div>
              <div class="radio-wrapper flex">
                <label for="">NO</label>
                <input
                  type="radio"
                  (change)="handleDoubleOnAnyAmountOfCards(false)"
                  [checked]="doubleOnAnyAmountOfCards === false"
                  [disabled]="disabled"
                >
              </div>
            </div>
          </div>
          <div class="dealer-pushes-22-wrapper condition-input-wrapper input-wrapper flex">
            <label for="">Dealer Pushes on 22</label>
            <div class="response-wrapper flex">
              <div class="radio-wrapper flex">
                <label for="">Yes</label>
                <input
                  type="radio"
                  (change)="handleDealerPushes22(true)"
                  [checked]="dealerPushes22"
                  [disabled]="disabled"
                >
              </div>
              <div class="radio-wrapper flex">
                <label for="">NO</label>
                <input
                  type="radio"
                  (change)="handleDealerPushes22(false)"
                  [checked]="dealerPushes22 === false"
                  [disabled]="disabled"
                >
              </div>
            </div>
          </div>
        </div>
      }
      </div>
    @if(chartName && showP2CDropDown) {
      <div class="start-sim flex">
        <div class="left content-wrapper">
          <p>Removing <b><i>{{ chartName }}</i></b> will delete the simulation for this chart. If you are satisfied with your results, this may be a good idea as storage space is limited.</p>
          <p>While removig <b><i>{{ chartName }}</i></b> will delete all the chartable data, the play strategy <b><i>{{ chartName }}</i></b> found in the Play Strategy custimazation, will still exist. If you wish to delete that, do so from custimazations.</p>
          <button (click)="removeChartNameFromLocalStorage()">Remove {{ chartName }}</button>
        </div>
        <div class="right content-wrapper">
          <p>Selecting the players first 2 cards will start the simulation</p>
          <div class="input-wrapper">
            <label for="">Number of rounds</label>
            <input type="text" [(ngModel)]="iterations">
          </div>
          <abj-select 
            (selectedEvent)="selectP2C($event)"
            [options]="first2Cards"
            [selectValue]="first2Cards[0]"
            [label]="'Players First 2 Cards'"
          >
          </abj-select> 
        </div>
      </div>
    }
    </div>
  </abj-content-accordion>
</div>