:host {

  .select-dropdown-wrapper {
    padding: 6px 6px 6px 0;
    max-width: 260px;
    overflow: hidden;
    background-color: transparent;
    outline: none;
    box-sizing: border-box;
  
    label {
      margin-bottom: 4px;
      font-size: 14px;
    }
  
    select {
      padding: 8px;
      width: 260px;
      max-width: 260px;
      border-radius: 3px;
      border: 1px solid white;
      font-size: 18px;
  
      &:hover, &:focus {
        border: 1px solid black;
        outline: none;
        cursor: pointer;
      }
    }
  }
}