<div class="app-wrapper flex-column" [class.no-scroll]="videoModalService.showModal$ | async">
  <!-- <div class="normal-content-wrapper" [class.show-modal]="videoModalService.showModal$ | async"> -->
  <div class="normal-content-wrapper">
    <abj-header></abj-header>
    <div class="content-wrapper">
      <router-outlet />
    </div>
    <abj-footer></abj-footer>
  </div>
  <div class="video-modal-wrapper" [class.show-modal]="videoModalService.showModal$ | async">
  @if(videoModalService.showModal$ | async) {
    <abj-video-modal (closeModal)="videoModalService.closeModal()"></abj-video-modal>
  }
  </div>
</div>