<div class="abj-strategy-selector" [class.center-align]="centerAlign">
  <h2>{{title}}</h2>

  @if(showSelectBox$ | async) {
    <div class="flex between">
      <div class="config select-wrapper">
        <abj-select 
          (selectedEvent)="selectStrategy($event)"
          [options]="allStrategyTitles"
          [selectValue]="activeTitle"
        >
        </abj-select>
      </div>

      <div class="button-container">
        <div class="button-wrapper">
          <abj-button
            text="Back"
            (action)="goBack()"
            size="medium"
          ></abj-button>
        </div>
      @if(showAddButton$ | async) {
        <div class="button-wrapper">
          <abj-button
            text="Add"
            (action)="addStrategy()"
            size="medium"
          ></abj-button>
        </div>
      }
      @if(showDeleteButton$ | async) {
        <div class="button-wrapper">
          <abj-button
            text="Delete"
            (action)="deleteStrategy()"
            size="medium"
          ></abj-button>
        </div>
      } 
      @if (showSaveButton$ | async) {
        <div class="button-wrapper">
          <abj-button
            text="Save"
            (action)="saveStrategy()"
            size="medium"
          ></abj-button>
        </div>
      }
      </div>
    </div>
  }

  <div class="title-wrapper">
  @if(showEditableTitle$ | async) {
    <div class="row">
      <div class="text-input-wrapper">
        <abj-text-input
          #newStrategy
          placeHolder="Names must be 3 or more characters."
          (changeEvent)="handleTitleEdit($event)"
        ></abj-text-input>
      </div>
      <div class="button-container top-margin">
        <div class="button-wrapper">
          <abj-button
            text="Back"
            (action)="goBack()"
            size="medium"
          ></abj-button>
        </div>
      @if (showSaveButton$ | async) {
        <div class="button-wrapper save-strategy-name">
          <abj-button
            [text]="'Save ' + newTitle"
            (action)="saveStrategy(newTitle)"
            size="medium"
          ></abj-button>
        </div>
      }
      </div>
    </div>
  } @else {
    <p>
      Click "Add" to create a new configuration from <b>{{ activeTitle }}</b>
    </p>
  }
  </div>
</div>