body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  font-family: "Lato", sans-serif;
  // font-family: 'Matrix', sans-serif;
  background-color: #DCDCDC;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.page {
  width: calc(100% - 32px);
  max-width: 840px;
  min-height: calc(100vh - 230px);
  margin: 0 auto;
  overflow: scroll;
  padding: 16px;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  &.with-nav {
    height: calc(100vh - 153px - 42px - 35px);
    max-height: calc(100vh - 153px - 42px - 35px);
  }
}

.fixed-page {
  box-sizing: border-box;
  width: 100%;
  max-width: 840px;
  min-height: calc(100vh - 153px - 35px);
  max-height: calc(100vh - 153px);
  margin: 0 auto;
  padding: 16px;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  &.with-nav {
    min-height: calc(100vh - 153px - 42px - 35px);
  }
}


