:host {
  .classic-home.page {

    .pre-navigation-modal {
      width: 100%;
      box-sizing: border-box;
      height: calc(100vh - 300px);
      display: flex;
      justify-content: center;
      align-items: center;
      
      .outer-spinner {
        background-color: white;
        border-radius: 50%;
        width: 300px;
        height: 300px;
        border-top: 30px solid black;
        border-bottom: 30px solid black;
        box-sizing: border-box;
        animation: spin 1.5s linear infinite;
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg); /* Start at 0 degrees rotation */
        }
        100% {
          transform: rotate(360deg); /* End at 360 degrees rotation */
        }
      }
    }

    .content-wrapper {
      flex-wrap: wrap;

      button {
        padding: 12px;
        margin: 12px;
        font-size: 24px;
        box-sizing: border-box;
        width: calc(50% - 24px);
        border-radius: 3px;

        &.hide {
          display: none;
        }

        .button-label {
          font-weight: bold;
          font-size: 20px;
          margin: 0 0 12px;
        }

        .button-description {
          font-size: 18px;
          margin: 0;
        }

        &:hover {
          cursor: pointer;
          background-color: black;
          color: white;
        }
        
        @media only screen and (max-width: 479px) {
          width: 100%;
        }
      }
    }
  }
}